/* main */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

header {
  padding: 3rem 3rem 0.2rem 3rem;
}
/* classes  */
.scheduler-box {
  margin: 0rem 3rem 3rem 3rem;
}

.hidden {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
}

.unhidden {
  opacity: 1;
  height: 0px;
  position: absolute;
}

/* TIME BLOCK */
.time-block {
  border-radius: 15px;
  margin: 10px 0;
  border: 1px solid #d3d3d3;
}
.past,
.past .hour {
  background-color: #d3d3d3;
}
.present,
.present .hour {
  background-color: #ff6961;
}
.future,
.future .hour {
  background-color: #77dd77;
}
.hour {
  color: #000000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 600;
}
.description {
  white-space: pre-wrap;
  padding-top: 32px;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn i {
  pointer-events: none;
}